/*
===========================================================
                    Generic CSS Classes
===========================================================
*/
.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-start {
  align-items: start;
}

.bg-aliceblue {
  background-color: aliceblue;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-gray {
  background-color: gray;
}

.bg-green {
  background-color: green;
}

.bg-grey {
  background-color: grey;
}

.bg-pink {
  background-color: pink;
}

.bg-red {
  background-color: red;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-white {
  background-color: white;
}

.border-1px {
  border-width: 1px !important;
}

.border-2px {
  border-width: 2px !important;
}

.border-3px {
  border-width: 3px !important;
}

.border-4px {
  border-width: 4px !important;
}

.border-black {
  border-color: black;
}

.border-blue {
  border-color: blue;
}

.border-green {
  border-color: green;
}

.border-radius-1px {
  border-radius: 1px;
}

.border-radius-2px {
  border-radius: 2px;
}

.border-radius-3px {
  border-radius: 3px;
}

.border-radius-4px {
  border-radius: 4px;
}

.border-radius-5px {
  border-radius: 5px;
}

.border-radius-6px {
  border-radius: 6px;
}

.border-radius-7px {
  border-radius: 7px;
}

.border-radius-8px {
  border-radius: 8px;
}

.border-radius-9px {
  border-radius: 9px;
}

.border-radius-10px {
  border-radius: 10px;
}

.border-radius-11px {
  border-radius: 11px;
}

.border-radius-12px {
  border-radius: 12px;
}

.border-radius-13px {
  border-radius: 13px;
}

.border-radius-14px {
  border-radius: 14px;
}

.border-radius-15px {
  border-radius: 15px;
}

.border-radius-16px {
  border-radius: 16px;
}

.border-red {
  border-color: red;
}

.border-solid {
  border-style: solid;
}

.border-white {
  border-color: white;
}

.border-yellow {
  border-color: yellow;
}

.bottom-0 {
  bottom: 0;
}

.color-black {
  color: black !important;
}

.color-green {
  color: green !important;
}

.color-red {
  color: red !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-row {
  flex-direction: row;
}

.h-100 {
  height: 100% !important;
}

.h-80px {
  height: 80px;
}

.h-90px {
  height: 90px;
}

.h-100px {
  height: 100px;
}

.h-5vh {
  height: 5vh;
}

.h-10vh {
  height: 10vh;
}

.h-15vh {
  height: 15vh;
}

.h-20vh {
  height: 20vh;
}

.h-25vh {
  height: 25vh;
}

.h-30vh {
  height: 30vh;
}

.h-35vh {
  height: 35vh;
}

.h-40vh {
  height: 40vh;
}

.h-45vh {
  height: 45vh;
}

.h-50vh {
  height: 50vh;
}

.h-55vh {
  height: 55vh;
}

.h-60vh {
  height: 60vh;
}

.h-65vh {
  height: 65vh;
}

.h-70vh {
  height: 70vh;
}

.h-75vh {
  height: 75vh;
}

.h-80vh {
  height: 80vh;
}

.h-85vh {
  height: 85vh;
}

.h-90vh {
  height: 90vh;
}

.h-95vh {
  height: 95vh;
}

.h-100vh {
  height: 100vh;
}

.h-p25r {
  height: 0.25rem;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.left-0 {
  left: 0;
}

.m-0 {
  margin: 0 !important;
}

.m-1r {
  margin: 1rem !important;
}

.m-2r {
  margin: 2rem !important;
}

.m-3r {
  margin: 3rem !important;
}

.m-4r {
  margin: 4rem !important;
}

.m-auto {
  margin: auto !important;
}

.min-h-100 {
  min-height: 100% !important;
}

.min-h-5vh {
  min-height: 5vh;
}

.min-h-10vh {
  min-height: 10vh;
}

.min-h-15vh {
  min-height: 15vh;
}

.min-h-20vh {
  min-height: 20vh;
}

.min-h-25vh {
  min-height: 25vh;
}

.min-h-30vh {
  min-height: 30vh;
}

.min-h-35vh {
  min-height: 35vh;
}

.min-h-40vh {
  min-height: 40vh;
}

.min-h-45vh {
  min-height: 45vh;
}

.min-h-50vh {
  min-height: 50vh;
}

.min-h-55vh {
  min-height: 55vh;
}

.min-h-60vh {
  min-height: 60vh;
}

.min-h-65vh {
  min-height: 65vh;
}

.min-h-70vh {
  min-height: 70vh;
}

.min-h-75vh {
  min-height: 75vh;
}

.min-h-80vh {
  min-height: 80vh;
}

.min-h-85vh {
  min-height: 85vh;
}

.min-h-90vh {
  min-height: 90vh;
}

.min-h-95vh {
  min-height: 95vh;
}

.min-h-100vh {
  min-height: 100vh;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1r {
  margin-bottom: 1rem !important;
}

.mb-2r {
  margin-bottom: 2rem !important;
}

.mb-3r {
  margin-bottom: 3rem !important;
}

.mb-4r {
  margin-bottom: 4rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1r {
  margin-left: 1rem !important;
}

.ml-2r {
  margin-left: 2rem !important;
}

.ml-3r {
  margin-left: 3rem !important;
}

.ml-4r {
  margin-left: 4rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1r {
  margin-right: 1rem !important;
}

.mr-2r {
  margin-right: 2rem !important;
}

.mr-3r {
  margin-right: 3rem !important;
}

.mr-4r {
  margin-right: 4rem !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1r {
  margin-top: 1rem !important;
}

.mt-2r {
  margin-top: 2rem !important;
}

.mt-3r {
  margin-top: 3rem !important;
}

.mt-4r {
  margin-top: 4rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mx-1r {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-2r {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.mx-3r {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mx-4r {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-1r {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-2r {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.my-3r {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-4r {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.p-0 {
  padding: 0 !important;
}

.p-p5r {
  padding: 0.5rem !important;
}

.p-1r {
  padding: 1rem !important;
}

.p-2r {
  padding: 2rem !important;
}

.p-3r {
  padding: 3rem !important;
}

.p-4r {
  padding: 4rem !important;
}

.pb-1r {
  padding-bottom: 1rem !important;
}

.pb-2r {
  padding-bottom: 2rem !important;
}

.pb-3r {
  padding-bottom: 3rem !important;
}

.pb-4r {
  padding-bottom: 4rem !important;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-sticky {
  position: sticky;
}

.pt-p5r {
  padding-top: 0.5rem;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1r {
  padding-top: 1rem;
}

.pt-2r {
  padding-top: 2rem;
}

.pt-3r {
  padding-top: 3rem;
}

.pt-4r {
  padding-top: 4rem;
}

.pt-4px {
  padding-top: 4px;
}

.pt-8px {
  padding-top: 8px;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1r {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-2r {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.px-3r {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.px-4r {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-p5r {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-1r {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-2r {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.py-3r {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-4r {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.right-0 {
  right: 0;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.text-align-start {
  text-align: start;
}

.text-decoration-none {
  text-decoration: none;
}

.text-transform-none {
  text-transform: none !important;
}

.top-0 {
  top: 0;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.w-100vw {
  width: 100vw !important;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.z-index-50 {
  z-index: 50 !important;
}

.z-index-100 {
  z-index: 100 !important;
}

.z-index-1000 {
  z-index: 1000 !important;
}

.z-index-10000 {
  z-index: 10000 !important;
}

/*
===========================================================
                          CSS
===========================================================
*/

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: lightcyan;
}

.MuiContainer-root {
  min-height: 100vh;
}

.capitalize-text {
  text-transform: capitalize;
}

.color-primary {
  color: #1565c0;
}

.text-lines-1 {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.5em;
  line-height: 1.5em;
}

.MuiModal-root *:focus {
  outline: none;
}

.mt-4px {
  margin-top: 4px;
}
